@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Merienda&display=swap');


body {
    /* background-color: #adadad; */
    font-family: Kalam, Helvetica, sans-serif;
    /* font-size: px; */
    margin: 0 auto;
    padding: 0px;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: rgb(147, 102, 57);
    font-family: Merienda, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(5 1fr);
    grid-template-rows: 1 1fr;
}


/* NAVIGATION */
#logo-link {
    justify-self: center;
    align-self: center;
    padding-block: 5px;
    padding-inline: 5px;
}
.logo {
    padding-top: 3px;
    width: 80px;
}
nav {
    display: flex;
    justify-content: center;
    grid-gap: 20px;
    position: relative;
}
nav a {
    align-self: center;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-inline: 40px;
    padding-block: 10px;
    font-family: Kalam;
    font-size: 18px;
}
.climate-nav, .climate-nav:hover {
    background-color:rgb(173, 173, 173, .5);
}
.architecture-nav, .architecture-nav:hover {
    background-color:rgb(173, 173, 173, .5);
}
nav a:hover {
    transform: scale(1.1);
}


/* HERO */
#hero {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    margin-top: -110px;
}
#hero-box {
    grid-column: 1/4;
    height: 500px;
    z-index: -1;
}
#hero-msg {
    align-self: center;
    grid-column: 2/3;
    margin-top: -500px;
    text-align: center;
    font-family: Merienda, Helvetica, sans-serif;
    font-size: 22px;
}
#hero-img {
    width: 100%;
    height: 100%;
}


/* HOME PAGE */
/* HOME GRID */
.home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 
}
#mission-box {
    grid-column: 1/4;
    padding: 20px 80px 20px 80px;
    text-align: center;
    margin-top: -160px;
}
#mission-statement {
    font-family: Kalam, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #879263;
    padding: 20px;
}



/* * {
    border: solid gray;
} */

.climate-card, .architecture-card {
    margin: 25px 150px;
    border: 7px solid #936639;
    box-shadow: 5px 5px 5px #879263;
    background-color: #adadad;
    display: flex;
    height: 342px;
    transition: transform .5s;
    align-items: center;
    
}
.climate-card:hover, .architecture-card:hover {
    opacity: .6;
    transform: scale(1.01);
}
.climate-card {
    grid-column: 1/4;
    grid-row: 2/3;
}
.architecture-card {
    grid-column: 1/4;
    grid-row: 3/4;
    flex-direction: row-reverse;
}
.climate-card h3, .climate-card h4, .architecture-card h3, .architecture-card h4 {
    flex-direction: column;
    flex-direction: left;
    text-align: center;
    padding: 10px;
}
.climate-card img, .architecture-card img {
    float: right;
    border: 5px solid #F8E077;
}



/* ARCHITECTURE PAGE */
/* Sidebar Menu */
.sidenav {
    height: 100%;
    width: 160px; 
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #879263;
    overflow-x: hidden;
    padding-top: 20px;
}
/* Sidebar navigation links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.architecture-grid {
    margin-left: 160px; /* Same as sidebar width */
    margin-top: -250px;
    padding: 0px 10px;
}
/* In case the screen height is less than 450px, then adapt accordingly. */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px}
}




footer {
    background-color: #879263;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 50px;
    font-size: 20px;
    color: white;
}
footer a {
    text-decoration: none;
    color: white;
}
footer p a:hover{
    text-decoration: underline;
    color: #145792;
}



/* For cases when the computer screen in less than 900px. */
@media screen and (max-width: 900px) {
    #hero, .home-grid, .architecture-grid {
        display: block;
        height: auto;
    }
    #hero-img {
        z-index: -2;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: -450px;
    }
    #mission-box {
        margin-top: 300px;
    }
    .home-title {
        font-size: 25px;
    }
    .climate-card, .architecture-card {
        margin: 25px auto;
        width: 80%;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}