/* body {
    text-align: center;
} */

* {
    border: solid red;
}

/* #container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
} */

img {
    width: 300px;
    margin: 0 auto;
    display: block;
}

