/* The "*" references everything */
/* * {
    border: solid gray;
} */

body {
    text-align: center;
    background-color: steelblue;

}

#container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
}

h1, a {
    color: steelblue;
}



#active {
    background-color: steelblue;
    color: white;
}

.room {
    background-color: lightgray;
}

img {
    width: 300px;   
    margin: 0 auto;
    display: block;
    
}

p {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

nav a:nth-of-type(4) {
    /* text-decoration: none; */
    color: red;
}